---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/nasa/39A/languages?client_id=8e095b5598d3114163bb&client_secret=6e9182c238ef8dd639440302bacc7eb049c38d9e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1466970295'
      Etag:
      - W/"ca2a4a045c56ddc0c023287378f0089f"
      Last-Modified:
      - Thu, 05 Nov 2015 04:11:37 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"JavaScript":359832,"HTML":180316,"Python":128383,"CSS":124497,"Ruby":1593}'
  recorded_at: Sun, 26 Jun 2016 18:47:40 GMT
recorded_with: VCR 3.0.3
