---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/nasa/repos?client_id=8e095b5598d3114163bb&client_secret=6e9182c238ef8dd639440302bacc7eb049c38d9e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1466970295'
      Etag:
      - W/"95c7c96f0388560f65423ef09bd76c13"
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/848102/repos?client_id=8e095b5598d3114163bb&client_secret=6e9182c238ef8dd639440302bacc7eb049c38d9e&page=2>;
        rel="next", <https://api.github.com/user/848102/repos?client_id=8e095b5598d3114163bb&client_secret=6e9182c238ef8dd639440302bacc7eb049c38d9e&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":13180336,"name":"39A","full_name":"nasa/39A","owner":{"login":"nasa","id":848102,"avatar_url":"https://avatars.githubusercontent.com/u/848102?v=3","gravatar_id":"","url":"https://api.github.com/users/nasa","html_url":"https://github.com/nasa","followers_url":"https://api.github.com/users/nasa/followers","following_url":"https://api.github.com/users/nasa/following{/other_user}","gists_url":"https://api.github.com/users/nasa/gists{/gist_id}","starred_url":"https://api.github.com/users/nasa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nasa/subscriptions","organizations_url":"https://api.github.com/users/nasa/orgs","repos_url":"https://api.github.com/users/nasa/repos","events_url":"https://api.github.com/users/nasa/events{/privacy}","received_events_url":"https://api.github.com/users/nasa/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/nasa/39A","description":"","fork":false,"url":"https://api.github.com/repos/nasa/39A","forks_url":"https://api.github.com/repos/nasa/39A/forks","keys_url":"https://api.github.com/repos/nasa/39A/keys{/key_id}","collaborators_url":"https://api.github.com/repos/nasa/39A/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/nasa/39A/teams","hooks_url":"https://api.github.com/repos/nasa/39A/hooks","issue_events_url":"https://api.github.com/repos/nasa/39A/issues/events{/number}","events_url":"https://api.github.com/repos/nasa/39A/events","assignees_url":"https://api.github.com/repos/nasa/39A/assignees{/user}","branches_url":"https://api.github.com/repos/nasa/39A/branches{/branch}","tags_url":"https://api.github.com/repos/nasa/39A/tags","blobs_url":"https://api.github.com/repos/nasa/39A/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/nasa/39A/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/nasa/39A/git/refs{/sha}","trees_url":"https://api.github.com/repos/nasa/39A/git/trees{/sha}","statuses_url":"https://api.github.com/repos/nasa/39A/statuses/{sha}","languages_url":"https://api.github.com/repos/nasa/39A/languages","stargazers_url":"https://api.github.com/repos/nasa/39A/stargazers","contributors_url":"https://api.github.com/repos/nasa/39A/contributors","subscribers_url":"https://api.github.com/repos/nasa/39A/subscribers","subscription_url":"https://api.github.com/repos/nasa/39A/subscription","commits_url":"https://api.github.com/repos/nasa/39A/commits{/sha}","git_commits_url":"https://api.github.com/repos/nasa/39A/git/commits{/sha}","comments_url":"https://api.github.com/repos/nasa/39A/comments{/number}","issue_comment_url":"https://api.github.com/repos/nasa/39A/issues/comments{/number}","contents_url":"https://api.github.com/repos/nasa/39A/contents/{+path}","compare_url":"https://api.github.com/repos/nasa/39A/compare/{base}...{head}","merges_url":"https://api.github.com/repos/nasa/39A/merges","archive_url":"https://api.github.com/repos/nasa/39A/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/nasa/39A/downloads","issues_url":"https://api.github.com/repos/nasa/39A/issues{/number}","pulls_url":"https://api.github.com/repos/nasa/39A/pulls{/number}","milestones_url":"https://api.github.com/repos/nasa/39A/milestones{/number}","notifications_url":"https://api.github.com/repos/nasa/39A/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/nasa/39A/labels{/name}","releases_url":"https://api.github.com/repos/nasa/39A/releases{/id}","deployments_url":"https://api.github.com/repos/nasa/39A/deployments","created_at":"2013-09-28T20:33:48Z","updated_at":"2015-11-05T04:11:37Z","pushed_at":"2015-10-05T18:30:41Z","git_url":"git://github.com/nasa/39A.git","ssh_url":"git@github.com:nasa/39A.git","clone_url":"https://github.com/nasa/39A.git","svn_url":"https://github.com/nasa/39A","homepage":null,"size":7746,"stargazers_count":11,"watchers_count":11,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":9,"mirror_url":null,"open_issues_count":1,"forks":9,"open_issues":1,"watchers":11,"default_branch":"master"},{"id":30195147,"name":"api-docs","full_name":"nasa/api-docs","owner":{"login":"nasa","id":848102,"avatar_url":"https://avatars.githubusercontent.com/u/848102?v=3","gravatar_id":"","url":"https://api.github.com/users/nasa","html_url":"https://github.com/nasa","followers_url":"https://api.github.com/users/nasa/followers","following_url":"https://api.github.com/users/nasa/following{/other_user}","gists_url":"https://api.github.com/users/nasa/gists{/gist_id}","starred_url":"https://api.git[...]
