<h1> NASA Repo Summary </h1>
<div id='repo-info'>
  <% @repos_info.each do |info| %>
    <div id='repo-name'>
      Repo Name: <%= info[:name] %>
    </div>
    <div id='repo-description'>
      Description: <%= info[:description] %>
    </div>
  <% end%>
</div>
