/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none;
}

body {
  margin: 0;
}

#wrapper {
  font-family: arial;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

header {
  background-color: #0065B2;
  height: 60px;
}

#logo {
  text-align: center;
  margin: 0;
}

#logo img {
  height: 70px;
}

.alert {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

#repos-info .alert.alert-success{
  color: #4EB26E;
}

.alert.alert-danger{
  color: #FF625E;
}

#repo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#repo-list li {
  float: left;
  width: 40%;
  margin: 2.5%;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
  font-size: 13px;
}

#repo-list li a {
color: #0065B2;
font-weight: bold;
}

#repo-list li a:hover {
color: #FFF;
font-weight: bold;
}

h1 {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

#chart {
  font-size: 12px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5%;
}

.bar {
  height:35px;
  background-color:#fc2c0f;
  border-style: none;
  padding-top: 23px;
  padding-left: 10px;
}

.percentage-text {
  font-weight: bold;
}



/*#repo-info {
  position: relative;
  width: 250px;
  float: left;
  padding: 10px;
}*/
