<!DOCTYPE html>
<html>
<head>
  <title>NasaLangFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
<div id='logo'><a href='/'><img src='http://www.nasa.gov/sites/default/files/images/nasaLogo-570x450.png'></a><div>
</header>
<body>

<%= yield %>

</body>
</html>
